<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaoxu.mapper.MenuMapper">


    <select id="getPermissionCodeByMenuIds" resultType="java.lang.String">
        SELECT permission_code
        FROM system_menu
        WHERE id IN
        <foreach item="menuIds" index="menuId" collection="list"
                 open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </select>
</mapper>