<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaoxu.mapper.MenuMapper">


    <select id="getPermissionCodeByMenuIds" resultType="java.lang.String">
        SELECT permission
        FROM system_menu
        WHERE deleted = '0'
        AND id IN
        <foreach item="menuIds" index="menuId" collection="list"
                 open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </select>
    <select id="getPermissionCodeByUserId" resultType="java.lang.String">
        SELECT DISTINCT sm.permission
        FROM system_menu sm
                 JOIN system_role_menu srm ON sm.id = srm.menu_id AND srm.deleted = '0'
                 JOIN system_user_role ur ON srm.role_id = ur.role_id AND ur.deleted = '0'
        WHERE ur.user_id = #{userId}
          AND sm.deleted = '0'
    </select>
</mapper>