<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaoxu.mapper.UserRoleMapper">


    <select id="getRoleIdsByUserId" resultType="java.lang.Long">
    select role_id from system_user_role where user_id = #{userId} and deleted = '0'
    </select>

    <select id="getUsernamesByRoleCode" resultType="java.lang.String">
        SELECT u.username
        FROM system_users u
        JOIN system_user_role ur ON ur.user_id = u.id
        JOIN system_role r ON r.id = ur.role_id
        WHERE r.code = #{roleCode}
          AND u.deleted = '0'
          AND ur.deleted = '0'
          AND r.deleted = '0'
        ORDER BY u.id
    </select>
</mapper>